/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';

.lista{
    align-items: center;
    height: 50vh;
}
.list-group-item{
    height: 30px;
    width: 100%;
}
.list-group-item:active{
    opacity: 0.7;
}
body{
    background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

  .titulo{
    font-family: 'Pacifico', cursive;
  }